// typeography 
$fontFamily: 'Roboto', sans-serif;
$fontSize: 16px;

// grid system
$layoutWidth: 1030px;
$colCount: 12;

// colors
$color: #9f9f9f;
$grey: #c6c5c5;
$semidark: #676767;
$dark: #272727;
$darkest: #0d0d0d;
$orange: #ce710e;
