/**
 * Home page
 */

// Hero
.heroWrap {
	height: 100vh;
	// height: 650px;
	position: relative;
	.tilt {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
		// >div {
		// 	background-position: right top;
		// }
	}
}
.socialLinks {
  display: flex;
  margin-top: 300px;
  pointer-events: all;
  flex-direction: row;

  .socialLinks a {
    cursor: pointer;
    margin-right: 10px;
		&:hover {
			opacity: 0.8;
		}
	}

  .socialLinks img {
    width: 44px;
	}
}

.heroTxt {
	position: relative;
	z-index: 1;
	padding: 15px 0;
	width: 100%;
	pointer-events: none;
	.container {
		position: relative;
		// height: 100%;
	}
}
.heroTxtInner {
	font-size: min(13vw, 100px);
	transform-origin: 0 0;
	position: relative;
	line-height: .8;
	h1, h2, h5 {
		margin: 0 0 10px;
		color: #fff;
		letter-spacing: .05em;
	}
	h2 {
		font-size: 1em; 
		// font-size: 100px;
		font-weight: 100;
		transform-origin: 0 0;
	}
	h1 {
		font-size: 1.1em;
		font-weight: 700; 
		span {
			color: $orange;
		}
	}
	h5 {
		font-weight: 300;
		font-size: .28em;
		margin-bottom: 0;
		padding-left: .2em;
	}
}

.tilt__front {
	@include transition(transform .15s);
}
.learnMoreWrap {
	pointer-events: none;
	position: absolute;
	bottom: 100px;
	width: 100%;
	z-index: 1;	
}
.learnMoreBtn {
	left: 0;
	bottom: 0;
	// pointer-events: initial;
	z-index: 1;
	transform-origin: 0 0;
	padding-left: 6px;
	display: inline-block;
	i {
		width: 30px;
		height: 56px; 
		border: solid 2px #fff;
		border-radius: 17px;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		&:after {
			content: '';
			display: inline-block;
			background-color: #fff;
			width: 1px;
			height: 10px;
			position: absolute;
			top: 8px;
			left: 50%;
			animation: scrollEffect 1s cubic-bezier(.3,.5,.5,.5) infinite;
			-webkit-animation: scrollEffect 1s cubic-bezier(.3,.5,.5,.5) infinite;
		}

	}
	>span {
		font-weight: 300;
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		color: #fff;
		font-size: $fontSize + 6px;
		margin-left: 15px;
		line-height: 1.2;
	}
}
@keyframes scrollEffect {
	from {
		top: 8px;
		opacity: 1;
	}
	to {
		top: 24px;
		opacity: 0;
	}
}
@-webkit-keyframes scrollEffect {
	from {
		top: 8px;
		opacity: 1;
	}
	to {
		top: 24px;
		opacity: 0;
	}
}


.imacWrap {
	padding: 0 70px;
	foreignobject {
		opacity: .5;
	}
}
.imacScreen {
	display: block;
	width: 100%;
	height: 100%;
	padding: 30px 0;
	color: #fff;
	margin: 0 auto;
	max-width: 415px;
	text-align: center;
	.textHeading {
		color: inherit;
		margin: 30px 0;
	}
}
.serviceDescr {
	display: none;
}

// Circle Progress Bars
.homeProgresses {
	opacity: .6;
	.pie_progress {
		width: 100px;
		margin: 0 auto;
	}
	.pie_progress__number {
		font-size: $fontSize + 6px;
		color: #fff;
		font-weight: 300;
	}
	h5 {
		font-size: $fontSize + 2px;
		font-weight: 300;
		color: #fff;
		letter-spacing: 3px;
		text-align: center;
		margin-top: 15px;
	}
}

.imgDivider {
	@include bgCover();
	padding: 140px 0;
	position: relative;
	h4 {
		font-size: $fontSize + 6px;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-weight: 400;
		text-align: center;
		max-width: 850px;
		margin: 0 auto;
		margin-bottom: 0;
		font-weight: 300;
		color: $grey;
	}
}

.uniqueDesSection {
	background-color: $dark;
	position: relative;
	padding-bottom: 0;
}
.uniqueDesign {
	text-align: center;
	h3 {
		font-size: $fontSize + 6px;
		letter-spacing: 3px;
	    font-weight: 300;
	}
}
.uniqueDesignTxt {
	background: url(../img/site-bg.png) repeat;
	padding: 122px 0;
	margin-top: -120px;
}

/* parallax image */
.parallaxImgWrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: .5;
	.layer {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-size: 100%;
		background-position: 0 0;
		background-repeat: no-repeat;
	}

	@media (max-width: 1600px) {
		.layer {
			background-size: 1600px!important;
		}
	}
}

/* end parallax image */


/* page loader */
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #151515;
	z-index: 999;
	&.pace-inactive .pace-progress {
 		display: none;
	}
	.pace-progress {
	  position: fixed;
	  z-index: 2000;
	  top: 0;
	  right: 0;
	  height: 5rem;
	  width: 5rem;
	  -webkit-transform: translate3d(0, 0, 0) !important;
	  -ms-transform: translate3d(0, 0, 0) !important;
	  transform: translate3d(0, 0, 0) !important;
	}
	.pace-progress:after {
	  display: block;
	  position: absolute;
	  top: 0;
	  right: .5rem;
	  content: attr(data-progress-text);
	  font-family: "Helvetica Neue", sans-serif;
	  font-weight: 100;
	  font-size: 5rem;
	  line-height: 1;
	  text-align: right;
	  color: rgba(0, 0, 0, 0.19999999999999996);
	}
}
/* end page loader */